.App{
  text-align: left;
  background-color: rgb(214, 174, 42);
}

ul{
  font-size: 18px;
  list-style-type: none;
}

li span{
  padding: 8px;
}

/* li.low-priority{
  border: 2px solid green;
}

li.high-priority{
  border: 2px solid #f2360c;
} */

li{
  border: 1px solid;
  width: 20%;
  padding: 1%;
  margin: 1%;

}

input[type="text"]{
  padding: 5px;
  width: 20%;
  margin: 5px;
  background-color: wheat;
}

button, input[type="submit"]{

  padding: 5px;
  cursor: pointer;
  border: 1px solid black;
  background-color: black;
  color: white;

}

.low-priority{
  background-color: rgba(144, 190, 68, 0.678);
  width: 20%;
}

.high-priority{
  background-color: red;
  width: 20%;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #7c93c0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */ 
